<div id="<%= dom_id travel %>" class="relative">
  <%= link_to travel_path(travel), data: { turbo_frame: "_top" } do %>
    <%= render partial: "travels/travel_card_content", locals: { travel: travel } %>
  <% end %>
</div>



