<% content_for :title, "Editing travel" %>

<div class="md:w-2/3 w-full">
  <div class="flex justify-between items-center mb-4">
    <h1 class="heading mb-4">Editing travel</h1>
    <%= link_to "Back to travels", travels_path, class: "btn-secondary" %>
  </div>


  <%= render "form", travel: @travel %>

  <%= link_to "Show this travel", @travel, class: "btn-secondary" %>
</div>
