<% content_for :title, "Travels" %>

<div class="w-full">
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:'text-red'  %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Travels</h1>
    <%= link_to "New travel", new_travel_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="travels" class="min-w-full">
    <% if @travels.any? %>
      <% @travels.each do |travel| %>
        <%= render travel %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No travels found.</p>
    <% end %>
  </div>
</div>
